.hamburger {
    display: none;
    margin-left: calc(10px + 20 * ((100vw - 320px) /(1366 - 320)));
    right: 20px;
    
    width: 26px;
    height: 12px;
    span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: #fff;
        margin-bottom: 2px;
    }
    &_active {
        span{
            margin-bottom: -2px;
            background-color: rgb(248, 18, 18);
            &:nth-child(1) {
                transform: translateY(3px) rotate(-45deg);
            }
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                transform: translateY(3px) rotate(45deg);
            }
        }

    }
}
@media (max-width:1000px) {
    .hamburger {
        display: block; 
    }
}